@using CVF.App.Models
@using Newtonsoft.Json;
@model CVF.App.Models.Plugin
@{
    ViewBag.Title = "Plugin";
}

<script type="text/javascript">
    var $plugin=@Html.Raw(JsonConvert.SerializeObject(Model));
</script>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/Home/Plugin/@Model.Name">@Model.DisplayName</a>
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    @foreach (var c in Model.Categories)
                    {
                        <li>
                            <a href="#category/@c.Name" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> @c.DisplayName <b class="caret"></b></a>
                            <ul class="nav nav-second-level">
                                @foreach (var i in c.Items)
                                {
                                    <li>
                                        <a href="#category/@c.Name/item/@i.Name">@i.DisplayName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>

        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div ng-view></div>
        </div>
    </div>

    @section scripts {
        @if (Model != null && Model.Scripts != null)
        {
            foreach (var script in Model.Scripts)
            {
                <script src="~/plugins/@ViewBag.PluginName/scripts/@script" type="text/javascript"></script>
            }
        }
    }
</div>