<!DOCTYPE html>
<html ng-app="pluginApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CVF.App</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/metisMenu.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
</head>
<body>
    @RenderBody()
    <div class="footer">
        <footer class="footer"></footer>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/metisMenu/metisMenu.js"></script>
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/lib/chart.js/Chart.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-chart.js/angular-chart.js"></script>
    <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/js/components.js" asp-append-version="true"></script>
    <script src="~/js/plugin.js" asp-append-version="true"></script>
    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
