.jumbotron-center {
    background-color: #fff !important;
    text-align: center !important;
}

.cap-title {
    margin-top: 15px;
    color: #aaa;
    font-size: 1.7em;
}

.gc-alert {
    position: fixed;
    width: 20%;
    text-align: center;
    z-index: 1;
}

.gc-error-btn {
    cursor: pointer;
}
